.form {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.label {
  margin-right: 20px;
  color: rgb(112, 76, 182);
}

.board-size {
  text-align: center;
  width: 30px;
  padding: 4px 22px;
  margin: 10px;
  border: solid 2px rgb(112, 76, 182);
  border-radius: 4px;
  color: rgb(112, 76, 182);
}

.board-arrangement {
  width: fit-content;
  padding: 4px 22px;
  margin: 10px;
  border: solid 2px rgb(112, 76, 182);
  border-radius: 4px;
  color: rgb(112, 76, 182);
}

.board-select {
  color: rgb(112, 76, 182);
  padding: 4px;
  margin: 10px;
  border: 2px solid rgb(112, 76, 182);
  border-radius: 4px;
  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
  background-color: white;
}

.board-select-option {
  background-color: rgba(112, 76, 182, 0.4);
  color: rgb(112, 76, 182);
}

.button {
  margin-top: 30px;
  appearance: none;
  background: none;
  outline: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  cursor: pointer;
  transition: all 0.15s;
  border: 2px solid transparent;
  border-radius: 6px;
  align-self: center;

  background-color: rgba(112, 76, 182, 0.1);
  color: rgb(112, 76, 182);
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.error {
  color: crimson;
}
